body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#quiz-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

.btn-container {
    margin-top: 50px;
}

.btn {
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.btn:hover {
    background-color: #0056b3;
}

#controls, #result-container {
    margin-top: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

.correct {
    background-color: #28a745 !important;
}

.wrong {
    background-color: #dc3545 !important;
}

.container {
    margin: 200px auto;
}

#restart-btn {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .btn {
        width: 100%;

    }

    #quiz-container {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        padding: 20px;
    }
}
