* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
}

.navbar-toggler {
    border-color: rgba(4, 0, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2878, 78, 78, 0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

.nav-link {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
    margin-left: 40px ;
}

.nav-link:hover {
    background-color: #575757;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    .nav-item {
        text-align: center;
        margin: 10px 0;
    }

    .nav-link {
        font-size: 18px;
        margin: 0;
        text-align: center;
    }

    .nav-link:hover {
        background-color: transparent;
        border-radius: 0;
    }

    .nav-link:active {
        background-color: #575757;
        border-radius: 4px;
    }

    .navbar-toggler-icon {
        text-align: center;
    }

    button {
        width: 100%;
    }
}

.main-title {
    background-color: rgba(51, 156, 62, 0.96);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title h1 {
    margin-top: 50px;
    font-size: 50px;
    font-weight: 550;
    color: white;
}

.main-title p {
    color: #fff;
    padding: 40px;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 50px;
}

label {
    margin-bottom: 8px;
    color: #130303;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: rgba(255,52,63,0.96);
}

.form {
    margin: 200px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
}

#forgotPass a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}

#createAc a {
    text-decoration: none;
}

.roundImage {
    border-radius: 150px;
    text-align: center;
}

.first {
    margin-top: 150px;
}

.second {
    margin-top: 1000px;
}

.main-text {
    background-color: #fff;
    padding: 50px;
    font-size: 20px;
    border-radius: 30px;
}

.custom-list-item::before {
    content: "- ";
    margin-right: 5px;
}

.title {
    font-weight: 600;
}